.searcher{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.searcher__title{
    margin-bottom: 20px;
    font-size: 2em;
}
.searcher__input{
    border-radius: 30px;
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, .3);
    color: var(--color-secundary);
    max-width: 600px;
    outline: none;
}
.searcher__input:active{
    border: var(--color-secundary);
}
.searcher__input::placeholder{
    color: var(--color-secundary);
    opacity: 1;
}
